@import 'tailwindcss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
}

::selection {
  background-color: #6d0f7d;
  color: white;
}

::marker {
  color: #6d0f7d;
  font-size: 1.5em;
}

li {
  list-style-type: none;
  position: relative;
  padding-left: 3rem;
}

li::before {
  content: '👉';
  position: absolute;
  left: 2rem;
  top: 1rem;
  color: #6d0f7d;
  font-size: 1.5em;
  transform: translateX(-100%);
}
