@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  background-color: rgb(156, 39, 176);
  color: white;
}

::marker {
  color: rgb(156, 39, 176);
  font-size: 1.5em;
}

li {
  list-style-type: none;
  position: relative;
  padding-left: 3rem;
}

li::before {
  content: '👉';
  position: absolute;
  left: 2rem;
  top: 1rem;
  color: rgb(156, 39, 176);
  font-size: 1.5em;
  transform: translateX(-100%);
}
